DANE-TA and DANE-EE should be deployable independent from one another

Right now, DANE-TA can be deployed as an optional addition over DANE-EE.

[RFC 7672, Section 3.1](https://www.rfc-editor.org/rfc/rfc7672.html#section-3.1) recommends

> In summary, we RECOMMEND the use of "DANE-EE(3) SPKI(1) SHA2-256(1)",
   with "DANE-TA(2) Cert(0) SHA2-256(1)" TLSA records as a second
   choice, depending on site needs.

Using DANE-TA is somewhat less secure as it requires trust in the certificate authority, since a compromised cert authority would be able to issue any cert that would be considered valid, whereas in the ACME/Let's Encrypt scenario, the private key never leaves the server and is thus unavailable to even the CA, making SPKI(1) or Cert(0) selectors with DANE-EE safer. Deploying both together is thus not particularly useful.

There's also the problem here is that using the selector SPKI(1) with DANE-TA is discouraged, but it's normal doing so with DANE-EE. For DANE-EE, there's no particular advantage of using Cert(0), but if rollover is performed rather than reusing a key pair (Certbot `--reuse-key`), then it doesn't really make a difference.

However, with DANE-TA, using SPKI(1) is somewhat dangerous, as intermediate CAs have certificate constraints and other information in their certificate that would be checked.

>    While a selector of SPKI(1) may also be employed, the resulting TLSA
   record will not specify the full trust anchor certificate content,
   and elements of the trust anchor certificate other than the public
   key become mutable.  This may, for example, allow a subsidiary CA to
   issue a chain that violates the trust anchor's path length or name
   constraints.

As of such, it's desirable to be able to deploy either 2 0 1 DANE-TA or 3 1 1 DANE-EE, but you wouldn't really want to have both, and while the default selector of SPKI(1) for DANE-EE is appropriate, it should default to Cert(0) for DANE-TA with the reasons given above.

Feature/enhancement added in v2.5.0, please see https://github.com/Stenstromen/gotlsaflare/commit/548e571d8b06fce57665e4cb54bc5b284aeebe01 (feature/independent-ta-ee) for details

The `--dane-ee` (true by default) in addition to the `--no-dane-ee` flags have been added in order to not break comparability with existing -expected- behavior. 