Discourage DANE-TA(2)

At the moment, DANE-TA(2) is being presented as being equal in support to DANE-EE(3). The problem however is that DANE-TA(2) behaves really strangely:

Roughly said, if DANE-TA(2) is being used, the client will validate the chain up to the pinned CA. Then it will validate constraints etc., that the certificate is not expired, revoked and so forth - or it might not, as RFC 7672 doesn't require it. It must however perform some name checks. This leads to a bunch of traps that surround DANE-TA(2) with SMTP:

1. Name set generation. While DANE-EE(3) performs no checks of any kind, DANE-TA(2) MUST check for that. The issue is that the set of which names are allowed depends on how the server was resolved. This has a lot of really odd cases, especially if there's a domain without DNSSEC being hosted on a DANE-enabled MTA on a different domain. You can find the whole set of rules [in RFC 7672, section 3.2.2](https://datatracker.ietf.org/doc/html/rfc7672#section-3.2.2). If this wasn't enough, the way the validation happens is not quite what you'd expect and has its own pitfalls, see [section 3.2.3](https://datatracker.ietf.org/doc/html/rfc7672#section-3.2.3). The whole thing is also really strange around relays, see [section 2.2.2](https://datatracker.ietf.org/doc/html/rfc7672#section-2.2.2).
2. Requirement to send the full certificate chain. SMTP servers are not required or expected to have CA lists, so with DANE-TA(2) it is necessary to send the full chain up to and including the pinned CA certificate. This can be tricky to configure correctly, see [section 3.1.2](https://datatracker.ietf.org/doc/html/rfc7672#section-3.1.2)
>    SMTP servers that rely on certificate usage DANE-TA(2) TLSA records
   for TLS authentication MUST include the TA certificate as part of the
   certificate chain presented in the TLS handshake server certificate
   message even when it is a self-signed root certificate.  Many SMTP
   servers are not configured with a comprehensive list of trust
   anchors, nor are they expected to be at any point in the future.
   Some MTAs will ignore all locally trusted certificates when
   processing usage DANE-TA(2) TLSA records.  Thus, even when the TA
   happens to be a public CA known to the SMTP client, authentication is
   likely to fail unless the TA certificate is included in the TLS
   server certificate message.
>   With some SMTP server software, it is not possible to configure the
   server to include self-signed (root) CA certificates in the server
   certificate chain.  Such servers either MUST publish DANE-TA(2)
   records for an intermediate certificate or MUST instead use
   DANE-EE(3) TLSA records.
3. Strange interactions with SPKI(1) or Full(0). SPKI(1) is straight up broken, as I mentioned in #20 , and Full(0) should not be used:
> TLSA records with a matching type of Full(0) are discouraged.  While
   these potentially obviate the need to transmit the TA certificate in
   the TLS server certificate message, client implementations may not be
   able to augment the server certificate chain with the data obtained
   from DNS, especially when the TLSA record supplies a bare key
   (selector SPKI(1)).  Since the server will need to transmit the TA
   certificate in any case, server operators SHOULD publish TLSA records
   with a matching type other than Full(0) and avoid potential
   interoperability issues with large TLSA records containing full
   certificates or keys.
4. Unspecified validation criteria. Other than the naming criteria, the RFC only mandates the certificate to be valid, but not what that means. There are no requirements on any KU/EKU of the certificate, for example. This leads to the biggest issue:
5. Revocation does not work. With DANE-EE(3), if a certificate gets compromised, you can revoke it, issue a new one and create the new TLSA record. With DANE-TA(2), this does not work, as there's no requirement to perform a revocation check:
>    SMTP servers cannot expect broad Certificate Revocation List (CRL) or
   Online Certificate Status Protocol (OCSP) support from SMTP clients.

The consequence of this is that when generating a new certificate from the same CA and revoking the old one, the DNS information for DANE-TA(2) does not change. That is to say, the old certificate stays valid and works as before. In this scenario it's necessary to create a DANE-EE(3) record temporarily:

> In the DANE-TA(2) key management model, server operators do not
   generally need to update DNS TLSA records after initially creating a
   CNAME record that references the centrally operated DANE-TA(2) RRset.
   If a particular server's key is compromised, its TLSA CNAME SHOULD be
   replaced with a DANE-EE(3) association until the certificate for the
   compromised key expires, at which point it can return to using a
   CNAME record.  If the central trust anchor is compromised, all
   servers need to be issued new keys by a new TA, and an updated
   DANE-TA(2) TLSA RRset needs to be published containing just the
   new TA.

Given that with DANE, only one record in the TLSA RRset has to be valid, this means that the default option in gotlsaflare for DANE-TA(2) to deploy both DANE-EE(3) and DANE-TA(2) sort of weakens the security because it also allows revoked certificates to be accepted.

------

This is not even mentioning that with gotlsaflare you have no control over which CA certificate in the chain is being used. In `getHash`, the immediate CA is being used [(code)](https://github.com/Stenstromen/gotlsaflare/blob/main/resource/getSHA256sum.go#L51-L60). This might not be what you'd want. DANE-TA(2) is supposed to be useable without updating the RRset (see the quote in 5) - this doesn't really align with an updater like gotlsaflare, but is more problematic as well: Let's Encrypt for example uses various subordinate CAs that do change, see [here](https://letsencrypt.org/certificates/). You can pin the root CA the chain leads to with the `preferred-chain` attribute in ACME, but you can't select the subordinate CA. Functionally this means that you could pin with DANE-TA(2) say Let's Encrypt's E7, but the next certificate you get is issued by E8 and then DANE-TA(2) needs to change.
This would only work properly if the root CA was being used. However, in many setups where you'd have a private CA and etc., you would want to pin the most immediate CA that you can for DANE-TA(2). So, this would need to be controllable in order to be useful.

------

Overall, there's so many pitfalls and sharp edges around DANE-TA(2) that I would suggest gotlsaflare should be opinionated towards DANE-EE(3) and potentially warn the user about some of these issues like revocation. I would also suggest to outright block DANE-TA(2) from being used with Full(0) or SPKI(1). While it would be slightly backwards incompatible, I would also suggest changing the default for DANE-TA(2) to not produce a DANE-EE(3) record as well, as this combination has this unexpected effect on revoked certificates.

As for picking the CA certificate to use, I would suggest the following: As explained above, the server is required to send the whole chain of the certificate. Alas, if an intermediate CA is being used, one would have to send the certificate itself and the chain up until that intermediate CA, everything beyond that doesn't matter. So, given the weirdness around Let's Encrypt, I would suggest changing it that by default the ultimate root CA is being pinned, with an option to pin the immediate CA (the current behaviour), or potentially a number parameter that the Xth CA in the chain is to be pinned.



To illustrate the problem a bit better maybe, consider Let's Encrypt and [their infrastructure](https://letsencrypt.org/certificates/), more specifically this:
![Let's Encrypt hierarchy](https://letsencrypt.org/images/isrg-hierarchy-full.png)

Let's Encrypt has several different root CAs, that you can pick between with the `preferred-chain` flag (see the article). These root CAs sign a network of subordinate CAs with much shorter lifetimes (1-2 years usually) that issue the actual certificates to people. Which one of these intermediate CAs you'll end up getting cannot be controlled by the client.

Now, gotlsaflare picks the most immediate issuer for pinning with DANE-TA(2). If you'd request an ECDSA certificate for example, you'll get one of E7 or E8 right now, but which one is random. Previous or subsequent certificates could be issued by the other one, or there could even be entirely different intermediate CAs active.

In this sense, pinning E7 for example makes little sense, as that functionally means you'd still need to update the DNS record every single time you renew. So functionally, that would still only allow the currently issued certificate to be used with this record, much like it would be with DANE-EE(3). But then you could also just use DANE-EE(3) outright - and avoid the problem that any previously issued certificate by E7 would remain valid indefinitely from DANE's perspective and beyond revocation. There's also the factor that single DANE-EE(3) pins a specific certificate, a compromise of your CA would not suffice for an attacker - with DANE-TA(2) that would mean they could issue working certificates.

On the other hand, pinning one of the root CAs can make sense. Let's say you got a fleet of severs hosting SMTP clustered, then you'd need to make a DANE-EE(3) entry for every single one. Whereas pinning, say, Let's Encrypt's X2 root, would allow in this scenario to just have it "work" without needing to change DNS and each server could work as long as they've just got a valid Let's Encrypt certificate.